# Laravel
/vendor/
/node_modules/
/public/hot
/public/build
/storage/*.key
.env
.env.*
!.env.example
*.cache

# Docker
docker-compose.override.yml

# Tests
/coverage/
.phpunit.result.cache
/.phpunit.cache

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
/storage/logs/*.log
npm-debug.log
yarn-error.log
